<DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta title="About">
</head>
<body>
  {{> header}}
  <p>There is in fact an avalanche coming! This web page documents this</p>
  {{> footer}}
</body>
</html>
