<DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta title="The Coming of the Avalanche">
</head>
<body>
  {{> header}}
  <!-- Note you dont need to put arguments for the screamIt helper in parentheses -->
  <p>{{screamIt welcomeMessage}}</p>
  {{> footer}}
</body>
</html>
