<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta title="Maintenance">
</head>
<body>
  <h1>We're Closed Bitches!</h1>
  <p>Oh Noooooooes were cloooooooosed</p>
  {{>footer}}
</body>
</html>
